/* WeeklyChallenges.css */

.weekly-container {
    background-color: #90CF8E;
    padding: 1.5rem 1.5rem 0.2rem 1.5rem; /* top, right, bottom, left */
    border-radius: 24px;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
  }
  
  .weekly-title {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    color: #222;
  }
  
  .divider {
    border: none;
    border-top: 2px solid #2f2f2f;
    margin-bottom: 1rem;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .challenges-list {
    /* display: flex;
    flex-direction: column;
    gap: 1rem; */

    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    overflow-y: auto;
    flex-grow: 1;
    max-height: calc(100vh - 250px);
    margin-bottom: 1rem;
  
    /* This gives space between scrollbar and content */
    padding-right: 1rem;
    box-sizing: content-box;
  }

    
  .challenges-list::-webkit-scrollbar {
    width: 6px;
  }
  
  .challenges-list::-webkit-scrollbar-thumb {
    background-color: #78b676;
    border-radius: 4px;
  }
  
  .challenges-list::-webkit-scrollbar-track {
    background: transparent;
    margin-top: 2px;
    margin-bottom: 2px;
  }
  
  .challenge-box {
    background-color: #EEFFEE;
    border-radius: 16px;
    display: flex;
    overflow: hidden;
    height: 5rem;
  }
  
  .challenge-text {
    flex: 1;
    padding: 1.25rem;
    font-size: 1rem;
    display: flex;
    align-items: center;
    color: #1a1a1a;
  }
  
  .checkmark {
    background-color: #a8dba8;
    border: none;
    width: 14%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.2s ease;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
  }
  
  .checkmark:hover {
    background-color: #8ecf8e;
  }
  
  .check-icon {
    width: 24px;
    height: 24px;
    fill: black;
  }
  